.container.contact_container {
    width: 60%;
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 2%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact_option {
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover {
    background: transparent;
}

.contact_option-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact_option a {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1rem;
}

form {
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

input, textarea {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white); 
}

@media screen and(max-width: 1024px) {
    .contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and(max-width: 600px) {
    .contact_container {
        width: var(--container-with-sm);
    }
}