.reference_container {
    width: 70%;
    padding: 4rem;
}

.avatar {
    width: 8rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    margin: 2rem auto 2rem;
    border: 0.4rem solid var(--color-light);
}

.references {
    background: var(--color-primary);
    text-align: center;
    padding: 2rem;
    border-radius: 5rem;
    user-select: none;
}

.reference_review {
    color: var(--color-white);
    font-weight: 500;
    display: block;
    width: 100%;
    margin: 1rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

@media screen and (max-width: 1024px){
    .reference_container {
        width: 60%;
    }
 }
 
 @media screen and (max-width: 600px) {
   .reference_container {
        width: var(--container-width-sm);
   }

   .reference_review {
    width: var(--container-width-sm);
   }
 }